{% extends 'events/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2 class="text-2xl md:text-3xl font-semibold section-heading">{{ title }}</h2>
<form method="post" class="space-y-4 max-w-md">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md text-sm md:text-base">Save Category</button>
</form>
<a href="{% url 'event_list' %}" class="bg-gray-500 text-white px-4 py-2 rounded-md mt-4 inline-block text-sm md:text-base">Cancel</a>
{% endblock %}